
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/HSE/Shared/_Layout.cshtml";
}

<h2>Index</h2>c

@Html.ActionLink("Nb de FS", "NbFSChrono", "HSEStatistique", null, new { @class = "btn-lg btn-default" })

