@{
    ViewBag.Title = "Home Page";
}

<style type="text/css">
    body {
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 90% 100%;
        background-attachment: fixed;
        background-image: url(/Content/images/FOND_INTRANET.jpg);
    }
</style>



<br>

<div class="row">
    <div class="col-md-6">
    </div>

    <div class="col-md-3" style="padding: 5px">
        <div style="background-color: #FD9910; padding: 5px; ">
            <h2>News 2</h2>
            <p>Les services Marketing et R&D travaillent main dans la main pour  développer les meilleures boissons de demain.</p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Voir &raquo;</a></p>
            <p>dfghdfhide izerohyfiuzerhfgiu erhfgher gezrfg erfh ierhgi erhg iefbgi efgilef aerg ekog efogekomjn odkfgkazerg ekqrg peqrgjeqr eqr  e efo df</p>
            <p>drghoidfhg od fshgvoed efgoiej izerf oerj oerjero fe veh eh eh erh erghd sfghoei rfgioper oeh goheo gerg dfhg dfg dqfg dfg dsfg ldfgeqr aer</p>
            <p>eorg oeg e e ervez ge zsdve er eg erze z^f erpgj ereg ege  grgrkh rhkr hjrth rt eert</p>
        </div>
    </div>

    <div class="col-md-3">
        
        <div class="row">

            <div class="col-md-12" style="padding: 5px">
                <div class="row">
                    <div class="col-md-6">
                        <div style="padding: 5px; width:130px; height:130px">
                            <center><a href="/IndicateurSIHome"><img alt="" width="96" src="~/Content/images/IndicateurSI/ICONE_APPLI_SI.png" /></a></center>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div style="padding: 5px; width:130px; height:130px">
                            <center><a href="/HSEHome"><img alt="" width="110" src="~/Content/images/IndicateurSI/ICONE_APPLI_SE.png" /></a></center>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">

            <div class="col-md-12" style="padding: 5px">
                <div style="background-color: #C52031; padding: 5px">
                    <h2>News 3</h2>
                    <p>Les services Marketing et R&D travaillent main dans la main pour  développer les meilleures boissons de demain.</p>
                    <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Voir &raquo;</a></p>
                </div>
            </div>

       </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">

    </div>
    <div class="col-md-3" style="padding: 5px">
        <div style="background-color: #8BAC27; padding: 5px">
            <h2>Applications</h2>
            <p>
                Ici, l'espace dédié aux applications internes
            </p>
            <p>
                @Html.ActionLink("Application HSE", "Index", "HSEHome")<br />
                @Html.ActionLink("Indicateurs SI", "Index", "IndicateurSIHome")
            </p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Voir &raquo;</a></p>
        </div>
    </div>
    <div class="col-md-3" style="padding:5px">
        <div style="background-color: #FD9910; padding: 5px; ">
            <h2>News 5</h2>
            <p>Les services Marketing et R&D travaillent main dans la main pour  développer les meilleures boissons de demain.</p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Voir &raquo;</a></p>
            <p>dfghdfhide izerohyfiuzerhfgiu erhfgher gezrfg erfh ierhgi erhg iefbgi efgilef aerg ekog efogekomjn odkfgkazerg ekqrg peqrgjeqr eqr  e efo df</p>
            <p>drghoidfhg od fshgvoed efgoiej izerf oerj oerjero fe veh eh eh erh erghd sfghoei rfgioper oeh goheo gerg dfhg dfg dqfg dfg dsfg ldfgeqr aer</p>
        </div>
    </div>
</div>
