@model Antelope.Models.HSE.FicheSecurite

@{
    ViewBag.Title = "Création Fiche Sécurité";
    Layout = "~/Views/HSE/Shared/_Layout.cshtml";
}

@*ORDRE DES SCRIPTS : JQUERY / MOMENT / UNDERSCORE / BACKBONE*@
@*<link href="~/Content/smoothness/jquery-ui-1.10.4.custom.min.css" rel="stylesheet" type="text/css" />*@
<link href="~/Content/bootstrap-datetimepicker.min.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="/Scripts/moment-with-langs.js"></script>
@*<script type="text/javascript" src="/Scripts/jquery-1.10.2.min.js"></script>*@
@*<script type="text/javascript" src="/Scripts/jquery-ui-1.10.4.custom.min.js"></script>*@
<script type="text/javascript" src="/Scripts/bootstrap-datetimepicker.min.js"></script>

@*<script type="text/javascript" src="/Scripts/bootstrap-datepicker.js"></script>*@
<script type="text/javascript" src="/Scripts/underscore.js"></script>
<script type="text/javascript" src="/Scripts/backbone.js"></script>
@*<script type="text/javascript" src="@Url.Content("~/Content/Scripts/HSE/FicheSecurite/Create.js")"></script>*@
<script type="text/javascript" src="~/Scripts/jquery.imagemapster.min.js"></script>

<script type="text/javascript" src="/Scripts/Application/HSE/FicheSecurite/FicheSecuriteViewModel.js"></script>  @*// A replacer dans des ViewModels ...*@


@*MODALE DE RECHERCHE DE PERSONNES DANS l'AD /// DANS UNE VIEW BACKBONE *@

@*<div class="modal fade" id="ActiveDirectoryUtilisateurModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <div id="RechercheActiveDirectoryDiv">
            </div>

        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->*@




<script type="text/template" id="RechercheActiveDirectory">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Recherche d'un utilisateur dans l'annuaire</h4>
            </div>
            <div class="modal-body">
                <p>Vauillez saisir un nom et/ou un prénom&hellip;</p>


                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-6">
                            @*style="padding-right:0px;"*@
                            <label for="NomRecherche" class="label-xs">Nom&nbsp;recherché&nbsp;:&nbsp;</label>
                        </div>
                        <div class="col-sm-6">
                            <input type="text" class="form-control input-xs" id="NomRecherche" value="<%= utilisateurActiveDirectoryModel.get('Nom') == 'undefined' ? " " : utilisateurActiveDirectoryModel.get('Nom') %>">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            @*style="padding-right:0px;"*@
                            <label for="PrenomRecherche" class="label-xs">Prénom&nbsp;recherché&nbsp;:&nbsp;</label>
                        </div>
                        <div class="col-sm-6">
                            <input type="text" class="form-control input-xs" id="PrenomRecherche" value="<%= utilisateurActiveDirectoryModel.get('Prenom') == 'undefined' ? " " : utilisateurActiveDirectoryModel.get('Prenom') %>">
                        </div>
                    </div>
                    <div class="row">
                        <button id="RechercheADUtilisateur" type="submit" class="btn pull-right btn-xs">
                            <span class="glyphicon glyphicon-user"></span> Recherche
                        </button>
                    </div>
                </div>
                <div class="row">

                    <table class="table">
                        <thead>
                        <td>
                            Nom
                        </td>
                        <td>
                            Prénom
                        </td>
                        <td>
                            Choisir
                        </td>

                        </thead>
                        <tbody>





                            <% utilisateurActiveDirectoryCollection.each( function(utilisateurActiveDirectory){ %>
                            <tr>

                                <% console.log(utilisateurActiveDirectory.get('Nom'))  %>
                                <td>
                                    <%= utilisateurActiveDirectory.get('Nom') %>
                                </td>
                                <td>
                                    <%= utilisateurActiveDirectory.get('Prenom') %>
                                </td>
                                <td>
                                    <button type="button" id="<%= utilisateurActiveDirectory.get('Guid') %>" class="BoutonChoixUtilisateurActiveDirectory btn btn-default">
                                        <span class="glyphicon glyphicon-arrow-right"></span>
                                    </button>
                                </td>

                            </tr>
                            <% }); %>


                        </tbody>
                    </table>


                </div>





            </div>



            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                @*<button type="button" class="btn btn-primary">Save changes</button>*@
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</script>



<div class="panel-group" id="accordion">

    <!-- ---------------------------------INFOS GENERALES PANEL -------------------------------- -->
    <div id="toto" class="panel panedesl-danger">
        <script type="text/template" id="TestTemplate2">

            <!-- -------------------------INFOS GENERALES PANEL HEADER------------------------ -->
            <div class="panel-heading" style="background-color: #C42031; color: white">
                <div class="row">

                    <div class="col-md-4">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" href="#collapseOne" data-target="#collapseOne">
                                @*data-parent="#accordion"*@
                                FICHE SECURITE
                            </a>
                        </h4>
                    </div>
                    <div class="col-md-8">
                        <span class="glyphicon glyphicon-ok pull-right"></span>
                        <span class="pull-right">Statut : </span>
                        <button id="Diffusion" type="submit" class="btn pull-right btn-xs">
                            <span class="glyphicon glyphicon-envelope"></span> Diffusion
                        </button>
                    </div>

                </div>
            </div>
            <!-- ------------------------INFOS GENERALES PANEL BODY---------------------------- -->
            <div id="collapseOne" class="panel-collapse collapse in">
                <div class="panel-body" style="padding-left:0px;padding-right:0px;">
                    <!-- ------------------------BARRE GRISE---------------------------- -->
                    <div class="well well-sm">
                        <div class="row">
                            <div class="col-md-2">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <label for="Site" class="label-xs">Site&nbsp;:</label>
                                    </div>
                                    <div class="col-sm-8">
                                        <select id="Site" class="form-control input-xs">
                                            <% siteCollection.each( function(site){ %>
                                            <option value="<%= site.get('SiteID') %>"
                                                <% if (ficheSecuriteModel.get('SiteId') == site.get('SiteID')){ %> selected <% } %>
                                            >
                                                <%= site.get('Nom') %>
                                            </option>
                                            <% }); %>
                                            @*%> selected <%*@
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <label for="Type" class="label-xs">Type&nbsp;:</label>
                                    </div>
                                    <div class="col-sm-8">
                                        <select id="Type" class="form-control input-xs">

                                            <% ficheSecuriteTypeCollection.each( function(type){ %>
                                            <option value="<%= type.get('FicheSecuriteTypeID') %>"
                                                <% if (ficheSecuriteModel.get('FicheSecuriteTypeId') == type.get('FicheSecuriteTypeID')){ %> selected <% } %>
                                                >
                                                <%= type.get('Nom') %>
                                            </option>
                                            <% }); %>

                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <label for="Code" class="label-xs">Code&nbsp;:</label>
                                    </div>
                                    <div class="col-sm-8">
                                        <input type="text" id="Code" class="form-control input-xs" value="<%= ficheSecuriteModel.get('Code') %>" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <label class="label-xs">Date&nbsp;&&nbsp;Heure&nbsp;Evnmt&nbsp;:</label>
                                    </div>
                                    @*<div class="col-sm-3">
                                            <input name="DateEvenement" id="DateEvenement" class="form-control input-xs" type="text" value="<%= FicheSecuriteDate %>">
                                        </div>*@

                                    <div class='col-sm-3'>
                                        @*<div class="form-group">*@
                                        <div class='input-group date' id='datetimepicker1'>
                                            <input type='text' name="DateEvenement" id="DateEvenement" class="form-control input-xs" value="<%= FicheSecuriteDate %>" />
                                            <span class="input-group-addon input-xs">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                        @*</div>*@
                                    </div>

                                    <div class='col-sm-3'>
                                        @*<div class="form-group">*@
                                        <div class='input-group date' id='datetimepicker2'>
                                            <input type='text' name="HeureEvenement" id="HeureEvenement" class="form-control input-xs" value="<%= FicheSecuriteHeure %>" />
                                            <span class="input-group-addon input-xs">
                                                <span class="glyphicon glyphicon-time"></span>
                                            </span>
                                        </div>
                                        @*</div>*@
                                    </div>
                                    <input name="HeureEvenementValide" id="HeureEvenementValide" type="hidden" />
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- ------------------------CHAMPS HORS CORPS HUMAIN---------------------------- -->
                    <div class="col-md-9" style="padding:0px;">
                        <!-- ------------------------CHAMPS DE GAUCHE---------------------------- -->
                        <div class="col-md-6">
                            @*<div class="row">*@
                            <form class="form-horizontal" role="form">

                                <div class="form-group">
                                    <div class="col-sm-5">
                                        @*style="padding-right:0px;"*@
                                        <label for="PersonnesConcerneeNom" class="label-xs">Nom&nbsp;pers.&nbsp;concern.&nbsp;:&nbsp;&nbsp;</label>
                                    </div>
                                    <div class="col-sm-7">
                                        <div class="input-group input-group-xs">
                                            <input type="text" class="form-control input-xs" id="PersonnesConcerneeNom" value="<%= ficheSecuriteModel.get('PersonneConcernee').get('Nom') %>">
                                            @*<span class="input-group-addon" data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-user"></span></span>*@
                                            <span class="input-group-btn">
                                                <button id="ActiveDirectoryPersonneConcerneeRecherche" class=" btn btn-default" type="button" data-toggle="modal" @*data-target="#ActiveDirectoryUtilisateurModal"*@>
                                                    <span class="glyphicon glyphicon-user">
                                                </button>
                                            </span>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-sm-5">
                                        <label for="PersonnesConcerneePrenom" class="label-xs">Prénom&nbsp;pers.&nbsp;concern.&nbsp;:&nbsp;&nbsp;</label>
                                    </div>
                                    <div class="col-sm-7">
                                        <input type="text" class="form-control input-xs" id="PersonnesConcerneePrenom" value="<%= ficheSecuriteModel.get('PersonneConcernee').get('Prenom') %>">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="Age" class="col-sm-5 label-xs">Âge&nbsp;:</label>
                                    <div class="col-sm-7">
                                        <input type="text" class="form-control input-xs" id="Age" value="<%= ficheSecuriteModel.get('Age') %>">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="PlageHoraire" class="col-sm-5 label-xs">Plage&nbsp;horaire&nbsp;:</label>
                                    <div class="col-sm-7">
                                        <select class="form-control input-xs" id="PlageHoraire">

                                            <% plageHoraireCollection.each( function(plageHoraire){ %>
                                            <option value="<%= plageHoraire.get('PlageHoraireID') %>"
                                                <% if (ficheSecuriteModel.get('PlageHoraireId') == plageHoraire.get('PlageHoraireID')){ %> selected <% } %>
                                                >
                                                <%= plageHoraire.get('Nom') %>
                                            </option>
                                            <% }); %>

                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="PosteTravail" class="col-sm-5 label-xs">Poste&nbsp;de&nbsp;travail&nbsp;:</label>
                                    <div class="col-sm-7">
                                        <select class="form-control input-xs" id="PosteTravail">
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="Service" class="col-sm-5 label-xs">Service&nbsp;:</label>
                                    <div class="col-sm-7">
                                        <input type="text" class="form-control input-xs" id="Service" value="<%= ficheSecuriteModel.get('Service') %>">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-5">
                                        @*style="padding-right:0px;"*@
                                        <label for="ResponsableNom" class="label-xs">Nom&nbsp;responsable&nbsp;:&nbsp;&nbsp;</label>
                                    </div>
                                    <div class="col-sm-7">
                                        <div class="input-group input-group-xs">
                                            <input type="text" class="form-control input-xs" id="ResponsableNom" value="<%= ficheSecuriteModel.get('Responsable').get('Nom') %>">
                                            @*<span class="input-group-addon" data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-user"></span></span>*@
                                            <span class="input-group-btn">
                                                <button id="ActiveDirectoryResponsableRecherche" class=" btn btn-default" type="button" data-toggle="modal" @*data-target="#ActiveDirectoryUtilisateurModal"*@>
                                                    <span class="glyphicon glyphicon-user">
                                                </button>
                                            </span>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-sm-5">
                                        <label for="ResponsablePrenom" class="label-xs">Prénom&nbsp;responsable&nbsp;:&nbsp;&nbsp;</label>
                                    </div>
                                    <div class="col-sm-7">
                                        <input type="text" class="form-control input-xs" id="ResponsablePrenom" value="<%= ficheSecuriteModel.get('Responsable').get('Prenom') %>">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="Zone" class="col-sm-5 label-xs">Zone&nbsp;:</label>
                                    <div class="col-sm-7">
                                        <select class="form-control input-xs" id="Zone">

                                            <% zoneCollection.each( function(zone){ %>
                                            <option value="<%= zone.get('ZoneID') %>"
                                                <% if (ficheSecuriteModel.get('ZoneId') == zone.get('ZoneID')){ %> selected <% } %>
                                                >
                                                <%= zone.get('Nom') %>
                                            </option>
                                            <% }); %>

                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="Lieu" class="col-sm-5 label-xs">Lieu&nbsp;:</label>
                                    <div class="col-sm-7">
                                        <select class="form-control input-xs" id="Lieu">

                                            <% lieuCollection.each( function(lieu){ %>
                                            <option value="<%= lieu.get('LieuID') %>"
                                                <% if (ficheSecuriteModel.get('LieuId') == lieu.get('LieuID')){ %> selected <% } %>
                                                >
                                                <%= lieu.get('Nom') %>
                                            </option>
                                            <% }); %>

                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="Danger" class="col-sm-5 label-xs">Danger&nbsp;:</label>
                                    <div class="col-sm-7">
                                        <select class="form-control input-xs" id="Danger">
                                            <% dangerCollection.each( function(danger){ %>
                                            <option value="<%= danger.get('DangerID') %>"
                                                <% if (ficheSecuriteModel.get('DangerId') == danger.get('DangerID')){ %> selected <% } %>
                                                >
                                                <%= danger.get('Nom') %>
                                            </option>
                                            <% }); %>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="Risque" class="col-sm-5 label-xs">Risque&nbsp;:</label>
                                    <div class="col-sm-7">
                                        <select class="form-control input-xs" id="Risque">
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="Temoins" class="col-sm-5 label-xs">Témoins&nbsp;:</label>
                                    <div class="col-sm-7">
                                        <input type="text" class="form-control input-xs" id="Temoins" value="<%= ficheSecuriteModel.get('Temoins') %>">
                                    </div>
                                </div>

                            </form>
                            @*</div>*@
                        </div>

                        <!-- -----------COLONNE CHAMPS DESCRIPTION/COTATION/ACTIONS------------- -->
                        <div class="col-md-6">

                            <!-- ---------------CHAMPS DESCRIPTION/COTATION----------------- -->
                            <div class="row">

                                <!-- ---------------CHAMP DESCRIPTION----------------- -->
                                <div class="col-md-8" style="padding-left:0px;">
                                    <div class="form-group">

                                        <h4>Description</h4>

                                        <div class="col-sm-12">
                                            <textarea id="Description" class="form-control input-small" rows="8"><%= ficheSecuriteModel.get('Description') %></textarea>
                                        </div>

                                    </div>
                                </div>

                                <!-- ---------------CHAMPS COTATION----------------- -->

                                <div class="col-md-4" style="padding-left:0px;">

                                    <h4>Cotation</h4>

                                    <form class="form-horizontal" role="form">
                                        <div class="form-group">
                                            <label for="Frequence" class="col-sm-8 label-xs">Fréquence&nbsp;:</label>
                                            <div class="col-sm-4">
                                                <input type="text" class="form-control input-xs" id="Frequence" value="<%= ficheSecuriteModel.get('CotationFrequence') %>">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="Gravite" class="col-sm-8 label-xs">Gravité&nbsp;:</label>
                                            <div class="col-sm-4">
                                                <input type="text" class="form-control input-xs" id="Gravite" value="<%= ficheSecuriteModel.get('CotationGravite') %>">
                                            </div>
                                        </div>

                                        <hr>

                                        <div class="form-group">
                                            <label for="CriticiteBrute" class="col-sm-8 label-xs">Criticité&nbsp;Brute&nbsp;:</label>
                                            <div class="col-sm-4">
                                                <input type="text" class="form-control input-xs" id="CriticiteBrute" value="<%= ficheSecuriteModel.get('CotationFrequence') * ficheSecuriteModel.get('CotationGravite') %>" disabled />
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>

                            <!-- ---------------CHAMPS ACTIONS----------------- -->
                            <div class="row">
                                <br />
                                <br />
                                <div class="panel panel-default">
                                    <div class="panel-heading input-sm">
                                        ACTIONS IMMEDIATES
                                    </div>
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-md-12">

                                                <textarea id="ActionImmediate1" class="form-control input-small" rows="3" style="max-width: 100%; "><%= ficheSecuriteModel.get('ActionImmediate1') %></textarea>
                                                <textarea id="ActionImmediate2" class="form-control input-small" rows="3" style="max-width: 100%; "><%= ficheSecuriteModel.get('ActionImmediate2') %></textarea>

                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                    <!-- ---------------------------CORPS HUMAIN------------------------------- -->
                    <div class="col-md-3">

                        <div class="row">
                            <div class="col-sm-6"></div>
                            <div class="col-sm-6">
                                <input name="CorpsHumainSelected" id="CorpsHumainSelected" type="text" class="pull-right form-control input-xs" value="<%= corpsHumainZoneCollection.where({Id:ficheSecuriteModel.get('CorpsHumainZoneId')})[0].get('Nom') %>" disabled />
                                <input name="CorpsHumainSelectedHidden" id="CorpsHumainSelectedHidden" type="hidden" class="pull-right" value="" />
                            </div>
                        </div>

                        <div class="row">

                            @*ATTENTION !!! NE PAS OUBLIER LE DIESE "#" DANS LE HREF SINON LE MOUSEOVER / HOVER NE FONCTIONNE PAS !!!*@
                            <img id="map" alt="TestMap.jpg" usemap="#TestMap" src="/Content/images/HSE/FicheSecurite/HumanBody6.jpg" />
                            <map id="TestMap" name="TestMap">
                                <area data-name="Yeux" data-code="YEUX" class="YEUX" alt="Yeux" href="#" shape="rect" coords="99,32,127,41" />
                                <area data-name="Tête" data-code="TETE" class="TETE" alt="Tête" href="#" shape="poly" coords="113,41,99,41,99,32,127,32,127,41,113,41,113,73,106,72,100,67,100,52,92,39,92,37,92,35,92,34,93,33,95,35,95,18,96,15,100,11,104,8,111,6,115,6,119,7,123,9,127,12,129,15,130,18,131,21,131,24,131,30,130,33,130,34,133,32,134,32,134,35,131,41,129,47,128,50,127,53,126,58,126,63,127,67,120,72,113,73,113,41" />
                                <area data-name="Bras gauche" data-code="BRAS" class="BRASG" alt="Bras gauche" href="#" shape="poly" coords="63,88,76,135,72,155,71,161,68,171,65,178,56,196,50,208,48,213,36,205,38,202,40,197,42,185,44,176,47,166,50,157,53,152,55,139,57,121,58,110,58,99,60,93,64,86,63,88" />
                                <area data-name="Bras droit" data-code="BRAS" class="BRASD" alt="Bras droit" href="#" shape="poly" coords="149,130,157,87,162,91,166,96,168,101,169,105,169,111,169,115,168,127,170,133,174,142,175,147,175,152,176,157,178,161,182,167,185,174,187,179,188,182,189,187,193,196,197,205,199,211,184,216,182,210,176,201,173,197,169,191,164,178,163,174,158,162,154,150,151,138,149,130" />
                                <area data-name="Main gauche" data-code="MAIN" class="MAING" alt="Main gauche" href="#" shape="poly" coords="36,205,33,209,28,214,24,217,20,220,11,226,13,228,15,228,22,223,23,223,22,228,19,237,16,246,16,247,17,248,19,247,21,241,24,236,22,243,21,254,22,256,23,256,24,255,26,245,29,238,30,237,31,237,30,244,29,250,29,254,30,256,31,256,32,254,33,249,34,243,36,239,37,238,38,238,38,244,39,249,40,251,42,251,42,248,42,242,41,233,42,228,45,218,48,213,36,205" />
                                <area data-name="Main droite" data-code="MAIN" class="MAIND" alt="Main droite" href="#" shape="poly" coords="184,216,186,227,189,237,190,252,191,255,192,255,193,253,193,242,194,241,195,241,196,242,198,256,199,257,200,257,202,256,201,241,202,240,203,241,208,253,209,255,210,255,211,254,211,251,207,239,208,238,209,238,213,246,214,248,216,249,217,249,217,247,207,226,208,225,216,229,218,229,219,227,212,222,207,218,203,217,199,211,184,216" />
                                <area data-name="Tronc" data-code="TRONC" class="TRONC" alt="Tronc" href="#" shape="poly" coords="100,67,95,72,88,76,81,79,70,83,65,86,63,88,76,135,80,152,81,163,81,167,80,172,77,177,75,183,75,190,75,194,75,197,73,202,71,208,110,237,113,237,156,204,155,198,151,189,147,176,145,167,144,161,144,154,149,140,149,130,157,87,146,81,139,77,133,73,128,68,127,67,120,72,113,73,106,72,100,67" />
                                <area data-name="Jambe gauche" data-code="JAMBE" class="JAMBEG" alt="Jambe gauche" href="#" shape="poly" coords="71,208,69,217,68,228,68,254,69,271,71,284,73,299,73,307,73,316,73,320,72,325,71,329,69,335,68,343,68,361,70,373,72,389,72,402,72,411,85,414,86,402,87,394,89,382,92,368,95,352,95,336,95,327,97,321,99,315,100,306,101,290,110,237,71,208" />
                                <area data-name="Jambe droite" data-code="JAMBE" class="JAMBED" alt="Jambe droite" href="#" shape="poly" coords="156,204,156,248,155,261,153,277,152,286,151,295,151,302,151,312,152,321,154,332,156,345,157,355,155,367,153,383,150,400,149,412,136,413,136,409,133,400,132,382,127,363,126,347,127,343,128,339,128,333,125,321,122,309,121,306,120,282,118,268,116,252,114,239,113,237,156,204" />
                                <area data-name="Pied gauche" data-code="PIED" class="PIEDG" alt="Pied gauche" href="#" shape="poly" coords="85,414,85,421,85,426,83,432,82,437,80,440,78,441,75,440,71,440,64,440,61,437,60,434,62,430,68,422,71,417,72,411,85,414" />
                                <area data-name="Pied droit" data-code="PIED" class="PIEDD" alt="Pied droit" href="#" shape="poly" coords="136,413,135,417,135,421,136,425,137,432,138,437,141,442,154,442,160,438,161,436,160,434,152,423,149,418,149,412,136,413" />
                                <area data-name="Tout le corps" data-code="TOUTCORPS" class="TOUTCORPS" alt="Tout le corps" href="#" shape="poly" coords="175,319,175,307,177,303,181,299,186,296,212,296,219,300,222,305,223,307,223,320,222,323,219,328,214,332,185,332,180,329,177,326,176,324,175,319" />
                                <area data-name="Multiples lésions" data-code="MULTILESIONS" class="MULTILESIONS" alt="Multiples lésions" href="#" shape="poly" coords="175,384,175,372,177,368,181,364,186,361,212,361,219,365,222,370,223,372,223,385,222,388,219,393,214,397,185,397,180,394,177,391,176,389,175,384" />
                                <area data-name="Dos" data-code="DOS" class="DOS" alt="Dos" href="#" shape="poly" coords="175,56,175,44,177,40,181,36,186,33,212,33,219,37,222,42,223,44,223,57,222,60,219,65,214,69,185,69,180,66,177,63,176,61,175,56" />
                            </map>

                        </div>

                    </div>

                </div>
            </div>
        </script>
        <div id="TestDiv2">
        </div>
    </div>

    <!-- ----------------------INFOS CORRECTIVES ET PREVENTIVES PANEL --------------------- -->
    <div class="panel panel-danger">
        <script type="text/template" id="TemplateInfosCorrectives">

            <!-- ----------------INFOS CORRECTIVES & PREVENTIVES PANEL HEADER---------------- -->
            <div class="panel-heading" style="background-color: #C42031; color: white">
                <div class="row">

                    <div class="col-md-4">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" href="#collapseTwo" data-target="#collapseTwo">
                                @*data-parent="#accordion"*@
                                ACTIONS CORRECTIVES ET PREVENTIVES
                            </a>
                        </h4>
                    </div>
                    <div class="col-md-8">
                        <button type="submit" class="btn pull-right btn-xs" style="color: red">
                            <span class="glyphicon glyphicon-remove"></span> Rejeter fiche
                        </button>
                        <button type="submit" class="btn pull-right btn-xs" style="color: green">
                            <span class="glyphicon glyphicon-ok"></span> Valider fiche
                        </button>
                        <button type="submit" class="btn pull-right btn-xs">
                            @*btn-primary*@
                            <span class="glyphicon glyphicon-envelope"></span> Envoi à l'ASE
                        </button>
                    </div>

                </div>
            </div>

            <!-- -------------------INFOS CORRECTIVES & PREVENTIVES PANEL BODY--------------------- -->
            <div id="collapseTwo" class="panel-collapse collapse">
                <div class="panel-body">

                    <!-- ---------------------------LIGNE ENQUETE----------------------------- -->
                    <form class="form-horizontal" role="form">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="EnqueteRealisee" class="col-sm-6 label-xs">Enquête&nbsp;réalisée&nbsp;?</label>
                                    <div class="col-sm-6">
                                        <input type="checkbox" class="form-control input-xs" id="EnqueteRealisee">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="DateEnquete" class="col-sm-6 label-xs">Date&nbsp;de&nbsp;l'enquête&nbsp;:</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control input-xs" id="DateEnquete">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="Protagonistes" class="col-sm-6 label-xs">Protagonistes&nbsp;:</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control input-xs" id="Protagonistes">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="CHSCTMembre" class="col-sm-6 label-xs">Membre&nbsp;CHSCT&nbsp;:</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control input-xs" id="CHSCTMembre">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>

                    <!-- ---------------------------TABLEAU CAUSES / ACTIONS----------------------------- -->
                    <div class="panel panel-default">
                        @*<div class="panel-heading">
                            Causes & Actions
                            </div>*@
                        @*<div class="panel-body">


                            <% ficheSecuriteModel.get('causeCollection').each( function(cause){ %>
                            <div class="row" style="border: solid 1px black;">
                                <div class="col-md-12">
                                    <%= cause.get('Description') %>
                                </div>
                            </div>

                            <% }); %>


                            </div>*@




                            <table class="table table-bordered table-hover table-condensed">
                                <thead>
                                    <tr>
                                        <th colspan="2">Causes et Actions</th>
                                        <th><button id="BtnAjoutCause" type="button" class="btn btn-xs accordion-toggle" data-toggle="collapse" data-target="#demo1"><span class="glyphicon glyphicon-plus"></span>&nbsp;Cause</button></th>
                                    </tr>
                                    <tr>
                                        <td colspan="3" class="hiddenRow" style="padding: 0 !important;">
                                            <div class="accordian-body collapse" id="demo1">




                                                    <form role="form">
                                                        <div class="form-group" style="padding:10px;">
                                                            <label for="CauseDescription"> Description de la Cause</label>
                                                            <div class="row">
                                                                <div class="col-md-10">
                                                                    <textarea id="CauseDescription" class="form-control" rows="2" style="max-width: 100%; "></textarea>
                                                                </div>
                                                                <div class="col-md-2">
                                                                    <button id="BtnEnregistrerCause" type="button" class="btn btn-xs"><span class="glyphicon glyphicon-floppy-disk"></span>&nbsp;Enregistrer</button>
                                                                </div>
                                                            </div>

                                                            </div>
                                                    </form>


                                            </div>
                                        </td>
                                    </tr>
                </thead>

                <tbody>

                    <% ficheSecuriteModel.get('causeCollection').each( function(cause){ %>
                    <tr>
                        <td colspan="2">
                            <%= cause.get('Description') %>
                        </td>
                        <td colspan="1">
                            <button type="button" class="btn btn-xs"><span class="glyphicon glyphicon-plus"></span>&nbsp;Action</button>
                        </td>
                    </tr>

                    <% }); %>




                    <tr>
                        <td><span class="glyphicon glyphicon-hand-right"></span></td>
                        <td colspan="2">
                            1ère action
                        </td>
                        
                    </tr>
                    <tr>
                        <td><span class="glyphicon glyphicon-hand-right"></span></td>
                        <td colspan ="2">
                            2ème action
                        </td>
                        
                    </tr>

                    <tr>
                        <td><span class="glyphicon glyphicon-hand-right"></span></td>
                        <td colspan ="2">
                            1ère action
                        </tdcolspan>
                     
                    </tr>
                    <tr>
                        <td width="3%"></td>
                        <td width="87%"></td>
                        <td width="10%"></td>
                    </tr>
                </tbody>
            </table>

                        </div>




                        </div>
                    </div>

        </script>
        <div id="DivInfosCorrectives">
        </div>
    </div>
</div>




<div id="TestDiv">

    <script type="text/template" id="TestTemplate">


        <input type="text" id="code" name="code" value="<%= ficheSecuriteModel.get('Code') %>" />
        @*<input type="text" id="responsable" name="responsable" value="<%= Responsable %>" />
            <input type="text" id="description" name="description" value="<%= Description %>" />*@


    </script>

</div>

<div id="HardCoded">
</div>

<script type="text/javascript">


    $(document).ready(function () {

        @*var FicheSecuriteModel = Backbone.Model.extend({
                urlRoot: '/api/FicheSecuriteAPI'
                //,
                //defaults: {
                //    FicheSecuriteId: "",
                //    Code: "",
                //    Type: "",
                //    Age: "",
                //    PosteDeTravail: "",
                //    Service: "",
                //    Responsable: "",
                //    DateCreation: "",
                //    DateEvenement: "",
                //    PersonnesConcernees: "",
                //    Description: "",
                //    ActionImmediate1: "",
                //    ActionImmediate2: "",
                //    Temoins: "",
                //    CotationFrequence: "",
                //    CotationGravite: "",
                //    Risque: "",
                //    FicheSecuriteTypeId: "",
                //    DangerId: "",
                //    CorpsHumainZoneId: "",
                //    PlageHoraireId: "",
                //    SiteId: "",
                //    ZoneId: "",
                //    LieuId: "",
                //    EnqueteRealisee: "",
                //    EnqueteDate: "",
                //    EnqueteProtagoniste: "",
                //    CHSCTMembre: ""
                //}
            });
*@


        var FicheSecuriteId = "@ViewBag.Id";

        var SiteModel = Backbone.Model.extend({
        });
        var ZoneModel = Backbone.Model.extend({
        });
        var LieuModel = Backbone.Model.extend({
        });
        var FicheSecuriteTypeModel = Backbone.Model.extend({
        });
        var PlageHoraireModel = Backbone.Model.extend({
        });
        var DangerModel = Backbone.Model.extend({
        });
        var RisqueModel = Backbone.Model.extend({
        });
        var CorpsHumainZoneModel = Backbone.Model.extend({
        });




        var SiteCollection = Backbone.Collection.extend({
            model: SiteModel,
            url: '/api/sites'
        });
        var ZoneCollection = Backbone.Collection.extend({
            model: ZoneModel,
            url: '/api/action/zone/getZonesBySiteId'
            //url: '/api/Zone'
        });
        var LieuCollection = Backbone.Collection.extend({
            model: LieuModel,
            url: '/api/action/lieu/getLieuxByZoneId'
        });
        var FicheSecuriteTypeCollection = Backbone.Collection.extend({
            model: FicheSecuriteTypeModel
        });
        var PlageHoraireCollection = Backbone.Collection.extend({
            model: PlageHoraireModel
        });
        var DangerCollection = Backbone.Collection.extend({
            model: DangerModel
        });
        var RisqueCollection = Backbone.Collection.extend({
            model: RisqueModel
        });
        var CorpsHumainZoneCollection = Backbone.Collection.extend({
            model: CorpsHumainZoneModel
        });


        var FicheSecuriteModel = Backbone.Model.extend({
            urlRoot: '/api/FicheSecurite'
        });

        var PersonneConcerneeModel = Backbone.Model.extend({
        });

        var ResponsableModel = Backbone.Model.extend({
        });

        var CauseModel = Backbone.Model.extend({
        });

        var CauseCollection = Backbone.Collection.extend({
            model:CauseModel
        });

        var ficheSecuriteViewModel = new FicheSecuriteViewModel({ id: FicheSecuriteId });
        console.log(ficheSecuriteViewModel);

        ficheSecuriteViewModel.fetch({
            async: false//, success: this.arraysToModelCollections
        });

        var ficheSecuriteModel = new FicheSecuriteModel(ficheSecuriteViewModel.get('FicheSecurite'));
        ficheSecuriteModel.set({ id: FicheSecuriteId });

        ficheSecuriteViewModel.set({ 'ficheSecuriteModel': ficheSecuriteModel });
        ficheSecuriteViewModel.set({ 'siteCollection': new SiteCollection(ficheSecuriteViewModel.get('AllSite')) });
        ficheSecuriteViewModel.set({ 'zoneCollection': new ZoneCollection(ficheSecuriteViewModel.get('AllZone')) });
        ficheSecuriteViewModel.set({ 'lieuCollection': new LieuCollection(ficheSecuriteViewModel.get('AllLieu')) });
        ficheSecuriteViewModel.set({ 'ficheSecuriteTypeCollection': new FicheSecuriteTypeCollection(ficheSecuriteViewModel.get('AllFicheSecuriteType')) });
        ficheSecuriteViewModel.set({ 'plageHoraireCollection': new PlageHoraireCollection(ficheSecuriteViewModel.get('AllPlageHoraire')) });
        ficheSecuriteViewModel.set({ 'dangerCollection': new DangerCollection(ficheSecuriteViewModel.get('AllDanger')) });
        ficheSecuriteViewModel.set({ 'corpsHumainZoneCollection': new CorpsHumainZoneCollection(ficheSecuriteViewModel.get('AllCorpsHumainZone')) });
        ficheSecuriteViewModel.set({ 'risqueCollection': new RisqueCollection(ficheSecuriteViewModel.get('AllRisque')) });
        // /!\ ATTENTION : Nous appelons le MODEL : "PersonneConcernee" (et non "PersonneConcerneeModel", ceci pour garder la symétrie avec le Backoffice MVC C# qui va automatiquement 
        // récupérer la PersonneConcernee dans la FicheSecurite ainsi que ses changements -- A voir si du coup on fait pareil pour tous les Models ... ??? (Quid du mélange Model/Collection/Route etc ...)
        ficheSecuriteViewModel.get('ficheSecuriteModel').set({ 'PersonneConcernee': new PersonneConcerneeModel(ficheSecuriteViewModel.get('ficheSecuriteModel').get('PersonneConcernee')) })
        ficheSecuriteViewModel.get('ficheSecuriteModel').set({ 'Responsable': new ResponsableModel(ficheSecuriteViewModel.get('ficheSecuriteModel').get('Responsable')) })
        ficheSecuriteViewModel.get('ficheSecuriteModel').set({ 'causeCollection': new CauseCollection(ficheSecuriteViewModel.get('ficheSecuriteModel').get('Causes')) })

        var UtilisateurActiveDirectoryModel = Backbone.Model.extend({
            urlRoot: '/api/UtilisateurActiveDirectory'
        });

        var UtilisateurActiveDirectoryCollection = Backbone.Collection.extend({
            model: UtilisateurActiveDirectoryModel
        });

        var utilisateurActiveDirectoryModel = new UtilisateurActiveDirectoryModel();

        ficheSecuriteViewModel.set({ 'utilisateurActiveDirectoryModel': utilisateurActiveDirectoryModel });
        ficheSecuriteViewModel.set({ 'utilisateurActiveDirectoryCollection': new UtilisateurActiveDirectoryCollection() });

        Backbone.applicationEvents = _.extend({}, Backbone.Events);


        //TODO : Cette View est à découpler de FicheSecurite View et Model afin d'être réutilisable
        //Clairement pas le temps maintenant malheureusement.
        var RechercheActiveDirectoryView = Backbone.View.extend({

            id: 'ActiveDirectoryUtilisateurModal',
            className: 'modal fade',
            template: _.template($('#RechercheActiveDirectory').html()),
            render: function () {
                this.$el.html(this.template(this.model.toJSON()));
                return this;
            },
            initialize: function () {
                this.render();
            },
            events: {
                "click #RechercheADUtilisateur": "rechercheADUtilisateur",
                "keyup #NomRecherche": "nomChange",
                "keyup #PrenomRecherche": "prenomChange",
                "click .BoutonChoixUtilisateurActiveDirectory": "choixUtilisateurActiveDirectory",
                'hidden.bs.modal': 'teardown'
            },
            show: function () {
                this.$el.modal('show');
            },
            teardown: function () {
                this.$el.data('modal', null);
                this.remove();
                Backbone.applicationEvents.trigger('rechercheActiveDirectoryViewHidden');
            },
            nomChange: function () {
                var nomToSet = $('#NomRecherche').val() == "" ? "undefined" : $('#NomRecherche').val()
                this.model.get('utilisateurActiveDirectoryModel').set({ 'Nom': nomToSet });

            },
            prenomChange: function () {
                var prenomToSet = $('#PrenomRecherche').val() == "" ? "undefined" : $('#PrenomRecherche').val()
                this.model.get('utilisateurActiveDirectoryModel').set({ 'Prenom': prenomToSet });

            },
            rechercheADUtilisateur: function () {
                this.model.get('utilisateurActiveDirectoryCollection').url = '/api/action/ActiveDirectoryUtilisateur/GetActiveDirectoryUtilisateurByNomPrenom/0/' + this.model.get('utilisateurActiveDirectoryModel').get('Nom') + '/' + this.model.get('utilisateurActiveDirectoryModel').get('Prenom')

                // /!\ ASYNC : FALSE >>> Si true, la page se raffraichie sans attendre la mise à jour du model (anciennes données affichées)
                this.model.get('utilisateurActiveDirectoryCollection').fetch({ async: false });

                this.render();

            },
            choixUtilisateurActiveDirectory: function (ev) {

                var utilisateurActiveDirectorySelectionne = this.model.get('utilisateurActiveDirectoryCollection').find(
                    function (model) { return model.get('Guid') == $(ev.currentTarget).attr('id'); }
                )
                console.log('sourceActiveDirectoryUtilisateurRecherche');
                console.log(this.model.get('sourceActiveDirectoryUtilisateurRecherche'));

                var personneFicheSecuriteARemplir = '';

                switch(this.model.get('sourceActiveDirectoryUtilisateurRecherche')){
                    case 'PERSONNECONCERNEE' : 
                        personneFicheSecuriteARemplir = 'PersonneConcernee';
                        break;
                    case 'RESPONSABLE' : 
                        personneFicheSecuriteARemplir = 'Responsable';
                        break;
                }

                this.model.get('ficheSecuriteModel').get(personneFicheSecuriteARemplir).set({
                    'Nom': utilisateurActiveDirectorySelectionne.get('Nom')
                });

                this.model.get('ficheSecuriteModel').get(personneFicheSecuriteARemplir).set({
                    'Prenom': utilisateurActiveDirectorySelectionne.get('Prenom')
                });

                this.model.get('ficheSecuriteModel').get(personneFicheSecuriteARemplir).set({
                    'Guid': utilisateurActiveDirectorySelectionne.get('Guid')
                });

                

                //this.model.get('utilisateurActiveDirectoryModel').set({
                //    'NomSelectionne': utilisateurActiveDirectorySelectionne.get('Nom')
                //});

                //this.model.get('utilisateurActiveDirectoryModel').set({
                //    'PrenomSelectionne': utilisateurActiveDirectorySelectionne.get('Prenom')
                //});

                //this.model.get('utilisateurActiveDirectoryModel').set({
                //    'GuidSelectionne': utilisateurActiveDirectorySelectionne.get('Guid')
                //});

                //Backbone.applicationEvents.trigger('activeDirectoryUtilisateurSelection'); //, utilisateurActiveDirectorySelectionne);

                this.$el.modal('hide');

            }

        });


        var FicheSecuriteInfoGeneralesView = Backbone.View.extend({
            template: _.template($('#TestTemplate2').html()),
            render: function () {
                //console.log(this.model.toJSON());
                this.$el.html(this.template(this.model.toJSON()));

                // Ces instances Javascript se trouvent dans la View Backbone, nous les initialisons donc dans le render de la View.
                $('#datetimepicker1').datetimepicker({
                    pickTime: false,
                    language: 'fr'
                });
                //On écoute les changements sur le DatePicker pour les passer à la fonction Backbone
                $('#datetimepicker1').on("dp.change", $.proxy(this.changeDateHeureEvenement, this));
                $('#datetimepicker2').datetimepicker({
                    pickDate: false,
                    language: 'fr'
                });
                $('#datetimepicker2').on("dp.change", $.proxy(this.changeDateHeureEvenement, this));


                $('#map').mapster(
                    {
                        fillColor: 'C42031',
                        fillOpacity: 0.3,
                        singleSelect: true,
                        mapKey: 'data-code',
                        onClick: $.proxy(this.changeCorpsHumain, this) //function(data){console.log(data)}
                    }
                );
            },
            initialize: function () {

                //_.bindAll(this, 'activeDirectoryUtilisateurSelection');
                Backbone.applicationEvents.on('rechercheActiveDirectoryViewHidden', function () {
                    console.log('INIT');
                    this.render();
                }, this);
                //Backbone.applicationEvents.on('activeDirectoryUtilisateurSelection', this.activeDirectoryUtilisateurSelection(), this);

                this.render();
            },
            events: {
                "change #Site": "changeSite",
                "change #Zone": "changeZone",
                "change #Lieu": "changeLieu",
                "keyup #Age": "changeAge",
                "change #Type": "changeType",
                "keyup #Code": "changeCode",
                "keyup #PersonnesConcerneeNom": "changePersonneConcerneeNom",
                "keyup #PersonnesConcerneePrenom": "changePersonneConcerneePrenom",
                "keyup #ResponsableNom": "changeResponsableNom",
                "keyup #ResponsablePrenom": "changeResponsablePrenom",
                "change #PlageHoraire": "changePlageHoraire",
                "keyup #Service": "changeService",
                "change #Danger": "changeDanger",
                "change #Risque": "changeRisque",
                "keyup #Temoins": "changeTemoins",
                "keyup #Description": "changeDescription",
                "keyup #Gravite": "changeGravite",
                "keyup #Frequence": "changeFrequence",
                "keyup #ActionImmediate1": "changeActionImmediate1",
                "keyup #ActionImmediate2": "changeActionImmediate2",
                "click #Diffusion": "Diffusion",
                //"click #ActiveDirectoryUtilisateurModal": "changeSourceActiveDirectoryUtilisateurRecherche",
                "click #ActiveDirectoryPersonneConcerneeRecherche": "showActiveDirectoryUtilisateurRecherche",
                "click #ActiveDirectoryResponsableRecherche": "showActiveDirectoryUtilisateurRecherche",

            },
            changeSite: function () {
                // Lorsqu'on change le site, la liste des zones doit correspondre au site en question, on charge la liste des zones (REST/Ajax)

                this.model.get('ficheSecuriteModel').set({ 'SiteId': $('#Site').val() });

                // Ajout de l'ID de l'URL, voir si il n'y a pas moyen de l'ajouter directement dans le fetch d'une collection Backbone ...
                this.model.get('zoneCollection').url = '/api/action/zone/getZonesBySiteId/' + this.model.get('ficheSecuriteModel').get('SiteId');

                // /!\ ASYNC : FALSE >>> Si true, la page se raffraichie sans attendre la mise à jour du model (anciennes données affichées)
                this.model.get('zoneCollection').fetch({ async: false });

                // TODO : Mettre à Zéro les lieux

                this.render();
            },
            changeLieu: function () {
                this.model.get('ficheSecuriteModel').set({ 'LieuId': $('#Lieu').val() });
            },
            changeZone: function () {
                // Lorsqu'on change la zone, la liste des lieux doit correspondre à la zone en question, on charge la liste des lieux (REST/Ajax)

                this.model.get('ficheSecuriteModel').set({ 'ZoneId': $('#Zone').val() });

                // Ajout de l'ID de l'URL, voir si il n'y a pas moyen de l'ajouter directement dans le fetch d'une collection Backbone ...
                this.model.get('lieuCollection').url = '/api/action/lieu/getLieuxByZoneId/' + this.model.get('ficheSecuriteModel').get('ZoneId');

                // /!\ ASYNC : FALSE >>> Si true, la page se raffraichie sans attendre la mise à jour du model (anciennes données affichées)
                this.model.get('lieuCollection').fetch({ async: false });

                this.render();
            },
            changeAge: function () {
                this.model.get('ficheSecuriteModel').set({ 'Age': $('#Age').val() });
            },
            changeType: function () {
                this.model.get('ficheSecuriteModel').set({ 'FicheSecuriteTypeId': $('#Type').val() });
            },
            changeCode: function () {
                this.model.get('ficheSecuriteModel').set({ 'Code': $('#Code').val() });
            },
            changeDateHeureEvenement: function () {
                console.log('tutu');
                this.model.get('ficheSecuriteModel').set({ 'DateEvenement': $('#DateEvenement').val() + 'T' + $('#HeureEvenement').val() + ':00.0' });
            },
            changePersonneConcerneeNom: function(){
                this.model.get('ficheSecuriteModel').get('PersonneConcernee').set({ 'Nom': $('#PersonnesConcerneeNom').val() });
            },
            changePersonneConcerneePrenom: function () {
                this.model.get('ficheSecuriteModel').get('PersonneConcernee').set({ 'Prenom': $('#PersonnesConcerneePrenom').val() });
            },
            changeResponsableNom: function(){
                this.model.get('ficheSecuriteModel').get('Responsable').set({ 'Nom': $('#ResponsableNom').val() });
            },
            changeResponsablePrenom: function () {
                this.model.get('ficheSecuriteModel').get('Responsable').set({ 'Prenom': $('#ResponsablePrenom').val() });
            },
            changePlageHoraire: function () {
                this.model.get('ficheSecuriteModel').set({ 'PlageHoraireId': $('#PlageHoraire').val() });
            },
            changeService: function () {
                this.model.get('ficheSecuriteModel').set({ 'Service': $('#Service').val() });
            },
            changeDanger: function () {
                this.model.get('ficheSecuriteModel').set({ 'DangerId': $('#Danger').val() });
            },
            changeRisque: function () {
                this.model.get('ficheSecuriteModel').set({ 'RisqueId': $('#Risque').val() });
            },
            changeTemoins: function () {
                this.model.get('ficheSecuriteModel').set({ 'Temoins': $('#Temoins').val() });
            },
            changeDescription: function () {
                this.model.get('ficheSecuriteModel').set({ 'Description': $('#Description').val() });
            },
            changeGravite: function () {
                this.model.get('ficheSecuriteModel').set({ 'CotationGravite': $('#Gravite').val() });
                $('#CriticiteBrute').val(this.model.get('ficheSecuriteModel').get('CotationGravite') * this.model.get('ficheSecuriteModel').get('CotationFrequence'));
            },
            changeFrequence: function () {
                this.model.get('ficheSecuriteModel').set({ 'CotationFrequence': $('#Frequence').val() });
                $('#CriticiteBrute').val(this.model.get('ficheSecuriteModel').get('CotationGravite') * this.model.get('ficheSecuriteModel').get('CotationFrequence'));
            },
            changeActionImmediate1: function () {
                this.model.get('ficheSecuriteModel').set({ 'ActionImmediate1': $('#ActionImmediate1').val() });
            },
            changeActionImmediate2: function () {
                this.model.get('ficheSecuriteModel').set({ 'ActionImmediate2': $('#ActionImmediate2').val() });
            },
            changeCorpsHumain: function (data) {
                $('#CorpsHumainSelected').val(this.model.get('corpsHumainZoneCollection').findWhere({ Code: data.key }).get('Nom'));
                this.model.get('ficheSecuriteModel').set({ 'CorpsHumainZoneId': this.model.get('corpsHumainZoneCollection').findWhere({ Code: data.key }).get('Id') });
            },
            Diffusion: function () {
                this.model.get('ficheSecuriteModel').save();
            },
            //changeSourceActiveDirectoryUtilisateurRecherche: function () {
            //    this.set({'sourceActiveDirectoryUtilisateurRecherche':'PERSONNECONCERNEE'})
            //},
            showActiveDirectoryUtilisateurRecherche: function (ev) {

                                          
                if (ev.currentTarget.id == "ActiveDirectoryPersonneConcerneeRecherche") {
                    this.model.set({ 'sourceActiveDirectoryUtilisateurRecherche': 'PERSONNECONCERNEE' })
                }

                switch (ev.currentTarget.id){
                    case "ActiveDirectoryPersonneConcerneeRecherche" :
                        this.model.set({ 'sourceActiveDirectoryUtilisateurRecherche': 'PERSONNECONCERNEE' });
                        break;
                    case "ActiveDirectoryResponsableRecherche" :
                        this.model.set({ 'sourceActiveDirectoryUtilisateurRecherche': 'RESPONSABLE' });
                        break;
                }

                rechercheActiveDirectoryView = new RechercheActiveDirectoryView({
                    model:this.model
                });
                rechercheActiveDirectoryView.show()

            },
            //activeDirectoryUtilisateurSelection: function () {
            //    console.log('HELLO PASSAGE FSV ADUS');
            //    //console.log(event.utilisateur);
            //    //console.log(this.model.get('ficheSecuriteModel').get('utilisateurActiveDirectoryModel'));
            //    console.log(this.model.get('ficheSecuriteModel').get('utilisateurActiveDirectoryModel'));
            //    this.model.get('ficheSecuriteModel').get('PersonneConcernee').set({
            //        'Nom': this.model.get('utilisateurActiveDirectoryModel').get('NomSelectionne')
            //    });

            //    this.model.get('ficheSecuriteModel').get('PersonneConcernee').set({
            //        'Prenom': this.model.get('utilisateurActiveDirectoryModel').get('PrenomSelectionne')
            //    });

            //    this.model.get('ficheSecuriteModel').get('PersonneConcernee').set({
            //        'Guid': this.model.get('utilisateurActiveDirectoryModel').get('GuidSelectionne')
            //    });

            //    this.render();

            //    //this.model.get('ficheSecuriteModel').get('utilisateurActiveDirectoryModel').set({
            //    //    'NomSelectionne': utilisateurActiveDirectorySelectionne.get('Nom')
            //    //});

            //    //this.model.get('ficheSecuriteModel').get('utilisateurActiveDirectoryModel').set({
            //    //    'PrenomSelectionne': utilisateurActiveDirectorySelectionne.get('Prenom')
            //    //});

            //    //this.model.get('ficheSecuriteModel').get('utilisateurActiveDirectoryModel').set({
            //    //    'GuidSelectionne': utilisateurActiveDirectorySelectionne.get('Guid')
            //    //});

            //}

        });


        var FicheSecuriteActionView = Backbone.View.extend({
            template: _.template($('#TemplateInfosCorrectives').html()),
            render: function () {
                this.$el.html(this.template(this.model.toJSON()));
            },
            initialize: function () {
                this.render();
            },
            events: {
                //"click #BtnAjoutCause" : "clickBoutonAjoutCause"
                "shown.bs.collapse #demo1": "showAjoutCause",
                "hidden.bs.collapse #demo1": "hideAjoutCause",
                "keyup #CauseDescription": "changeCauseDescription"
            },
            showAjoutCause: function (ev) {
                console.log('dwcswxcq');
                $(ev.currentTarget).closest('td').css('background-color', '#FFF1F3');
                $('#BtnAjoutCause').closest('th').css('background-color', '#FFF1F3');

            },
            hideAjoutCause: function (ev) {
                $(ev.currentTarget).closest('td').css('background-color', 'white');
                $('#BtnAjoutCause').closest('th').css('background-color', 'white');
            },
            changeCauseDescription: function () {

            },


        });

        var ficheSecuriteInfoGeneralesView = new FicheSecuriteInfoGeneralesView({
            el: $("#TestDiv2"),
            model: ficheSecuriteViewModel
        });

        var ficheSecuriteActionView = new FicheSecuriteActionView({
            el: $("#DivInfosCorrectives"),
            model: ficheSecuriteViewModel
        })

    })


</script>




