@using PagedList.Mvc;

@model PagedList.IPagedList<Antelope.Domain.Models.FicheSecurite>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/HSE/Shared/_Layout.cshtml";
}


<link href="~/Content/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="/Scripts/jquery.dataTables.min.js"></script>

<script type="text/javascript" src="/Scripts/underscore.js"></script>
<script type="text/javascript" src="/Scripts/backbone.js"></script>






----------------------------------------------------


<script type="text/template" id="TableRecherche">


    <table id="table_id" class="display">
        @*<thead>
                <tr>
                    <th>Code</th>
                    <th>Nom</th>
                    <th>Description</th>
                    <th>Clôturée</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Row 1 Data 1</td>
                    <td>Row 1 Data 2</td>
                    <td>Row 1 Data 3</td>
                    <td>Row 1 Data 4</td>
                </tr>
                <tr>
                    <td>Row 2 Data 1</td>
                    <td>Row 1 Data 2</td>
                    <td>Row 1 Data 2</td>
                    <td>Row 2 Data 2</td>
                </tr>
                <tr>
                    <td>Row 2 Data 1</td>
                    <td>Row 1 Data 2</td>
                    <td>Row 1 Data 2</td>
                    <td>Row 2 Data 2</td>
                </tr>
                <tr>
                    <td>Row 2 Data 1</td>
                    <td>Row 1 Data 2</td>
                    <td>Row 1 Data 2</td>
                    <td>Row 2 Data 2</td>
                </tr>
            </tbody>*@
    </table>





</script>

<div id="TableRechercheDiv">
</div>



<script type="text/javascript">


    $(document).ready(function () {












        var RechercheTableView = Backbone.View.extend({

            id: 'RechercheTableFicheSecurite',
            template: _.template($('#TableRecherche').html()),
            render: function () {
                this.$el.html(this.template());   //this.model.toJSON()

                $('#table_id').DataTable({
                    "ajax": {
                        "url": "/api/FicheSecurite",
                        "dataSrc": "tableData"
                    },
                    "columns": [
                        { "data": "Code" },
                        { "data": "Nom" },
                        { "data": "Déscription" },
                        { "data": "Clôture" },
                    ]

                });



                return this;
            },
            initialize: function () {
                this.render();
            },
            events: {

            },



        });

        var rechercheTableView = new RechercheTableView({
            el: $("#TableRechercheDiv"),

        });



    });


</script>