
@{
    ViewBag.Title = "Changelog";
    Layout = "~/Views/QSE/Shared/_Layout.cshtml";
}

<h2>Changelog</h2>

<h4>V.0.0.1.1 (21/10/2014)</h4>
<div>
    -Icone QSE<br />
    -Menu QSE<br />
    -Droits QSE<br />
    -Commencement du Formulaire Non conformite<br />
    -Alimentation des listes Origine, Domaine, Gravite<br />
</div>

