
@{
    ViewBag.Title = "Alimentation";
}

<script type="text/javascript" src="/Scripts/underscore.js"></script>
<script type="text/javascript" src="/Scripts/backbone.js"></script>

<h2>Alimentation</h2>

<h3>Attention ! Ces boutons sont temporaires, et seront masqués dans la version finale
    Ils alimentent la base de données.
    Seul l'administrateur doit opérer sur cette page. Merci.
</h3>


<script type="text/template" id="AlimentationTemplate">

    <button id="AlimentationBaseTest" type="submit" class="btn btn-default btn-xs">
        <span class="glyphicon glyphicon-search"></span> Alimentation base test
    </button>




</script>

<div id="PrincipalDiv">
</div>


<script type="text/javascript">


    $(document).ready(function () {


        AlimentationModel = Backbone.Model.extend({
            url: '/api/action/HSEParametrage/AlimentationBaseTest/'
        });
        alimentationModel = new AlimentationModel();

        AlimentationView = Backbone.View.extend({
            id: 'AlimentationDiv',
            template: _.template($('#AlimentationTemplate').html()),
            render: function () {
                console.log(this.model);
                this.$el.html(this.template(this.model.toJSON()));
                return this;
            },
            initialize : function(){

                this.render();
            },
            events: {
                "click #AlimentationBaseTest" : "alimentationBaseTest"

            },
            alimentationBaseTest: function(){
                this.model.url = '/api/action/HSEParametrage/AlimenteBaseTest';
                this.model.save(null, { async: false, wait: true });
            }

        });

        console.log(AlimentationView);

        var alimentationView = new AlimentationView({
            el: $("#PrincipalDiv"),
            model: alimentationModel
        });





    });


</script>
