
@{
    ViewBag.Title = "Changelog";
    Layout = "~/Views/HSE/Shared/_Layout.cshtml";
}

<h2>Changelog</h2>

<h4>V.0.4.8.2 (10/10/2014)</h4>
<div>
    -Revue des listes (Suppression des type de lieux, et suppression des types de poste de travail)<br />

    <br />
    -Résolution des bugs :<br />
    @*&nbsp;&nbsp;-Validation de la vue après enregistrement*@

</div>

<h4>V.0.4.8.1 (09/10/2014)</h4>
<div>
    -Possibilité de paramétrer les emails de diffusion d'une Fiche Sécurité, refus d'un plan d'action<br/>
    -Création d'une page de paramétrage <br />
    -Création de ce ChangeLog <br/>
    <br />
    -Résolution des bugs :<br /> 
    &nbsp;&nbsp;-Validation de la vue après enregistrement

</div>
