@{
    ViewBag.Title = "Paramètrage";
    Layout = "~/Views/HSE/Shared/_Layout.cshtml";
}

<script type="text/javascript" src="/Scripts/underscore.js"></script>
<script type="text/javascript" src="/Scripts/backbone.js"></script>

<script type="text/template" id="ParametrageTemplate">

    <% if (currentHSERole < 300) { %>

    <div class="panel panel-default">
        <div class="panel-heading">Configuration des Emails</div>
        <div class="panel-body">
            Renseignez ici : <br />
            -une adresse email (@@refresco.fr) <br />
            -un groupe de diffusion (@@refresco.fr) <br />
            -"SELF" afin que la personne connectée reçoive elle-même les emails (à des fins de test)
            <div class="form-group">
                <label for="exampleInputEmail1">Email de diffusion des Fiche Sécurité : </label>
                <input type="email" class="form-control" id="EmailDiffusionFS" value="<%= EmailDiffusionFS %>">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Email des rejets de plan d'action : </label>
                <input type="email" class="form-control" id="EmailRejetPlanActionFS" value="<%= EmailRejetPlanActionFS %>">
            </div>
        </div>
        <div class="form-group">
            <button id="SaveParametrageHSEEmail" type="submit" class="btn btn-default btn-xs">
                <span class="glyphicon glyphicon-save"></span> Enregistrer
            </button>
        </div>
    </div>

    <% if (currentHSERole < 200) { %>
    <div class="panel panel-default">
        <div class="panel-heading">Alimentation de la Base de Données</div>
        <div class="panel-body">
            <h5>
                Attention ! l'alimentation est temporaire, et sera masquée dans la version finale
                Seul l'administrateur doit opérer sur cette fonction. Merci.
            </h5>

            <button id="AlimentationBaseTest" type="submit" class="btn btn-default btn-xs">
                <span class="glyphicon glyphicon-search"></span> Alimentation base test
            </button>
        </div>
    </div>
    <% } %>


    <% } %>


</script>

<div id="PrincipalDiv">
</div>


<script type="text/javascript">


    $(document).ready(function () {

        var currentHSERole = "@ViewBag.CurrentHSERole";

        ParametrageModel = Backbone.Model.extend({
            url: '/api/HSEParametrage/',
            id:0
        });
        parametrageModel = new ParametrageModel();
        parametrageModel.set({ "currentHSERole": currentHSERole });

        parametrageModel.url = '/api/action/HSEParametrage/GetHSEParametrage';
        parametrageModel.fetch({ async: false, wait: true });

        ParametrageView = Backbone.View.extend({
            id: 'ParametrageDiv',
            template: _.template($('#ParametrageTemplate').html()),
            render: function () {
                console.log(this.model);
                this.$el.html(this.template(this.model.toJSON()));
                return this;
            },
            initialize : function(){

                this.render();
            },
            events: {
                "click #AlimentationBaseTest": "alimentationBaseTest",
                "click #SaveParametrageHSEEmail": "saveParametrageHSEEmail",
                "keyup #EmailDiffusionFS": "changeEmailDiffusionFS",
                "keyup #EmailRejetPlanActionFS": "changeEmailRejetPlanActionFS",

            },
            alimentationBaseTest: function(){
                this.model.url = '/api/action/HSEParametrage/AlimenteBaseTest';
                this.model.save(null,{ async: false, wait: true });
            },
            saveParametrageHSEEmail: function () {
                this.model.url = '/api/action/HSEParametrage/SaveParametrageHSEEmail';
                this.model.save(null, { async: false, wait: true });
                this.render;
            },
            changeEmailDiffusionFS: function () {
                console.log('PASSAGE DIFFUSION');
                this.model.set({ 'EmailDiffusionFS': $('#EmailDiffusionFS').val() });
            },
            changeEmailRejetPlanActionFS: function () {
                this.model.set({ 'EmailRejetPlanActionFS': $('#EmailRejetPlanActionFS').val() });
            },

        });


        var parametrageView = new ParametrageView({
            el: $("#PrincipalDiv"),
            model: parametrageModel
        });





    });


</script>
